* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #161A2D;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* ######## Base button reset ######## */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* ######## Shared Padding & Color ######## */
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#custom-walker,
#custom-ping,
#custom-vpn,
#cpu,
#memory,
#temperature,
#custom-gpu,
#custom-power,
#custom-quit,
#custom-reboot {
    padding: 0 10px;
    color: #ffffff;
}

/* ######## Unified Hover Effect ######## */
button:hover,
#custom-walker:hover,
#custom-vpn:hover,
#wireplumber:hover,
#backlight:hover,
#workspaces button:hover,
#group-power label.module:hover {
    background: inherit;
    box-shadow: inset 0 -3px #33CCFF;
}

/* ######## Module Specifics ######## */
#workspaces button {
    padding: 1px 6px;
    background: transparent;
    color: #ffffff;
    border: none;
    margin: 0 4px;
}

#workspaces button.active {
    box-shadow: 0 0 0 2px #33CCFF;
    margin: 2px 4px;
    color: #ffffff;
}

#workspaces button.active:hover {
    box-shadow: 0 0 0 2px #33CCFF, inset 0 -3px #33CCFF;
}

#custom-vpn {
    background: transparent;
    transition: all 0.3s ease;
}

#custom-vpn.disconnected {
    color: #7f849c;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #161A2D;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber.muted {
    color: #7f849c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-ping.critical {
    color: #ff5555;
}
